node_modules/
dist/
dist-ssr/
release/
.vite/
*.log
.DS_Store
Thumbs.db
scripts/log.txt
scripts/SpyblockerScript.exe
scripts/config.json
scripts/test.js
scripts/tests.js
src/renderer.js
package-lock.json
output/
public/
out/
src/logs/logs-network/ALL/*
src/logs/logs-network/FILTERED/*
src/database/grok/*
src/.env
src/database/.env
dist-electron/
src/oauth/certs/*.pem
src/oauth/certs/*.key
logs/*

#Unpushed Scripts
start_build_emerald_utilities_windows.sh
start_build_emerald_utilities_linux.sh
start_build_emerald_utilities_all.sh
out_put_files.sh
start_prod.sh
start_dev.sh
src/database/POSTGRES_JSON_PROPOSAL.md
src/database/nuhuh.sh
src/database/nuhuh.sh
src/database/README.md
src/database/commands.md
src/database/cream/chat-history.json
postgres_volume.tar.gz
