node_modules/
dist/
release/
scripts/log.txt
scripts/SpyblockerScript.exe
scripts/config.json
scripts/test.js
scripts/tests.js
src/renderer.js
package-lock.json
TODO.md
output/
public/
out/
src/logs/logs-network/ALL/*
src/logs/logs-network/FILTERED/*
src/database/grok/*
src/database/.env

#Unpushed Scripts
start_build_emerald_utilities_windows.sh
start_build_emerald_utilities_linux.sh
start_build_emerald_utilities_all.sh
out_put_files.sh
DOCUMENTATION.md
start_prod.sh
start_dev.sh
src/database/POSTGRES_JSON_PROPOSAL.md
INTERNET_BROWSER.md
src/database/nuhuh.sh
src/database/README.md
src/database/commands.md
